.HeaderWrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  border-bottom: 1px solid white;
}

.HeaderLogo {
  font-size: 32px;

  :hover{
    cursor: pointer;
  }
}

.HeaderNavigation {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.HeaderNavigationItem {
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.HeaderActiveNavigationItem {
  background-color: white;
  color: black;
}
